In [1]:
import json

In [2]:
data = json.load(open("data/cities.json"))

In [3]:
import jupyterviz

In [4]:
jupyterviz.viz("tmp/map.htm","Idatamap",data,900,900,{'center':[-3.7, 40],'scale':800})

In [5]:
import pandas as pd

In [6]:
#Portal de datos abiertos de Madrid - Censo de locales
localesdf = pd.read_csv("/home/seb/Downloads/Locales201606.csv",sep=";")

In [7]:
localesdf.head(5)

,id_local,id_distrito_local,desc_distrito_local,id_barrio_local,desc_barrio_local,cod_barrio_local,id_seccion_censal_local,desc_seccion_censal_local,coordenada_x_local,coordenada_y_local,...,cal_acceso,coordenada_x_agrupacion,coordenada_y_agrup,id_agrupacion,nombre_agrupacion,id_tipo_agrup,desc_tipo_agrup,id_planta_agrupado,id_local_agrupado,rotulo
0,270080413,4,SALAMANCA,405,LISTA,NaN,NaN,106,"442992,92","4475762,65",...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TABACO
1,270080423,4,SALAMANCA,405,LISTA,NaN,NaN,106,"443037,29","4475759,16",...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CASA BALTASAR ...
2,270080433,4,SALAMANCA,405,LISTA,NaN,NaN,106,"442990,91","4475871,77",...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAR LUSA ...
3,270080586,4,SALAMANCA,405,LISTA,NaN,NaN,108,"442964,73","4475996,99",...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LA FLAUTA MAGICA
4,270080592,4,SALAMANCA,405,LISTA,NaN,NaN,108,"442851,45","4475960,38",...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ANTIGUEDADES

In [8]:
len(localesdf)

144852

In [9]:
localesdf['coordenada_x_local']=pd.to_numeric(localesdf['coordenada_x_local'].str.replace(",","."))
localesdf['coordenada_y_local']=pd.to_numeric(localesdf['coordenada_y_local'].str.replace(",","."))

In [10]:
localesdf=localesdf[localesdf['coordenada_x_local']>100000]

In [18]:
localesdf["name"]=localesdf.apply(lambda row: row['rotulo'].decode("latin-1") , 1)

In [19]:
import utm
localesdf['lat']=localesdf.apply(lambda row: utm.to_latlon(row['coordenada_x_local'],row['coordenada_y_local'],30,"T")[0] , 1)   
localesdf["lng"]=localesdf.apply(lambda row: utm.to_latlon(row['coordenada_x_local'],row['coordenada_y_local'],30,"T")[1] , 1)

In [20]:
result = localesdf[['lat',"lng","name"]].to_dict(orient="records")

In [23]:
resultb = result[:1000]

In [24]:
jupyterviz.viz("tmp/map2.htm","IleafletMap",resultb,900,500,{'center':[ 40.5, -3.7],'zoom':11})