In [1]:
import pandas as pd

In [2]:
moviesdf = pd.read_csv("data/movies.csv")

In [3]:
moviesdf.head()

   day  movie1  movie2  movie3  movie4  movie5  movie6
0    1      20       8       3       0       0       0
1    2      18       5       1      13       0       0
2    3      14       3       1      10       0       0
3    4       7       3       0       5      27      15
4    5       4       3       0       2      20      14

In [4]:
moviesdf["Van Damme Revenge"]=moviesdf['movie4']+moviesdf['movie5']

In [5]:
res = moviesdf.to_dict()

In [6]:
result=[]
for key in res:
    if key != "day":
        temp = {}
        temp["name"]=key
        temp['values']=[]
        for value in res[key]:
            valueobj = {}
            valueobj["x"]=value
            valueobj["y"]=res[key][value]
            temp['values'].append(valueobj)
        result.append(temp)

In [7]:
from IPython.display import IFrame
import json

In [10]:
with open("Itemplates/Istreamchart.html") as input:
    template = input.read()
template=template.replace("{data}",json.dumps(result))
template=template.replace("{width}",str(500))
template=template.replace("{height}",str(500))
with open("tmp/tmpstream.htm","w") as output:
    output.write(template)
IFrame("tmp/tmpstream.htm",550,550)